<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecodemo.magic.box" >
	<!-- 清除用户数据 -->
	<uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
	<!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 查看WLAN连接 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 防止手机休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 修改或删除您的USB存储设备中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 拍摄照片和视频 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 控制振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 修改或删除您的USB存储设备中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 控制振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <!-- 此应用可显示在其他应用上方 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 检索正在运行的应用 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 控制振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 读取您的USB存储设备中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<!--精确位置（基于GPS和网络）-->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
		android:name="com.ecodemo.magic.box.MxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
		android:resizeableActivity="true"
        android:theme="@style/AppTheme"
		android:hardwareAccelerated="true"
		android:networkSecurityConfig="@xml/network_security_config">
		<!-- Android O刘海适配 start -->
        <!-- 华为 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 华为 -->
        <!-- 小米 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <!-- 小米 -->
        <!-- Android O刘海适配 end -->
        <!-- Android全面屏全屏 start -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />
        <!-- Android全面屏全屏 end -->
        <activity
			android:screenOrientation="portrait"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
			android:windowSoftInputMode="adjustPan"
			android:name="com.ecodemo.magic.box.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
			android:screenOrientation="user"
			android:name="com.ecodemo.magic.box.BrowserActivity"
			android:configChanges="orientation|keyboardHidden|screenSize" />
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.Whois"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.ErrorActivity"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.Ping"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.Translate"/>
		<activity android:screenOrientation="portrait" android:exported="true" android:name="com.ecodemo.magic.qrcode.android.CaptureActivity"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.SoundActivity"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.Color.ColorSelector"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.Base64"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.Md5"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.RC4"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.AESEncode"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.DESEncode"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.SHA1"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.Unicode"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.CompassActivity"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.ImageToBase64"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.CurrentActivity"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.GuaranteeDate"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.RandomActivity"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.Decomment"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.MorseCoder"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.HtmlFormat"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.utils.RunScriptApp"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.AboutActivity"/>
		<activity android:screenOrientation="portrait" android:name="com.ecodemo.magic.box.app.tools.JsRun"/>
		<service android:name="com.ecodemo.magic.box.app.service.AccessibilityService"
			android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.accessibilityservice.AccessibilityService" />
			</intent-filter>
			<meta-data
				android:name="android.accessibilityservice"
				android:resource="@xml/accessibility_service_config" />
		</service>
    </application>
</manifest>
